*{
    margin: 0;
    padding: 0;
}
body, html {
    background-color: #f1f1f1;
    height: 100%; /* Asegura que el body y el html ocupen toda la altura de la ventana */
}
header{
    width: 100%;
    height: 50px;
   /* background-color: aquamarine; */
}
.header-img{
    padding-top:15px ;
    padding-left:15px ;

}
main{
    width: 100%;
    height: calc(100% - 115px);
    display: flex;
    justify-content: space-between;
   /* background-color: red;*/
}
section{
    width: 40%;
    height: 100%;
   /* background-color: darkgreen;*/
}
.seccion1{
    margin-top: 25px;
    width: 70%;
    height: 90%;
}
.area{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 25px;
    padding: 10px;
    border: 1px solid #000; /* Borde sólido de 1 píxel de ancho y color negro */
    border-radius: 10px; /* Bordes redondeados de 10 píxeles */
    background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */

}
#advertencia{
    margin-bottom: 20px;
    color: rgba(250, 16, 16, 0.976);
    font-size: 15px;
    font-weight: bold;
}
.contenedor-botones{
    text-align: center;
    margin-top: 20px;
}
.btn-encriptar, .btn-desincriptar{
    width: 30%;
    height: 40px;
    cursor:grab; 

}
.seccion2{
    width: 30%;
    height: 90%;
    background-color: #b0d6d7;
    border-radius: 20px;
    margin-right: 30px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
}
.contenedor-munieco{
    width: 100%;
    height: 60%;
    padding-top: 10px;
    box-sizing: border-box;
}
.contenedor-titulo{
    width: 100%;
    height: 40%;
    text-align: center;
}
#titulo1{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(16, 21, 21) ;
}
#parrafo1{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(16, 21, 21) ;
}
.contenedor-resultado{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    font-size: 25px;
    padding-top: 15px;    padding-left: 15px;    padding-right: 15px;
}

.contenedor-copiar{
    width: 100%;
    height: 20%;
}
.btn-copiar{
    width: 35%;
    height: 40px;
    display: block;
    margin: auto;   
    cursor:grab; 
}
footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 65px;
  }
  footer p{
    color: #00000040;
  }
  footer a {
    color: #00000040;
    text-decoration: none;
    margin: 0 10px;
  }
  footer .linkedin:hover {
    color: #0e76a8 ;
  }
  footer .fb:hover {
    color: #3b5998  ;
  }
  footer .github:hover {
    color: #000000 ;
  }
  .iconos-redes-sociales {
    padding-top: 8px;
    font-size: 24px;
  }
.ocultar{
    display: none;
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    body, html {
        padding: 10px;
        background-color: #f1f1f1;
        height: 97%; /* Asegura que el body y el html ocupen toda la altura de la ventana */
        width:90%;
    }
    .header-img{
        padding-top:0px ;
        padding-left:0px ;
    }
    main {
        display:inline-block;
        height: calc(100% - 140px);
    }
    section {
        margin-bottom: 10px; /* Agrega espacio entre las secciones */
    }
    .area{
        width: 90%;
        height: 40%;
        display: block;
        margin: auto;
        margin-top: 20px;
        resize: none;
        font-size: 15px;
        padding: 10px;
        border: 1px solid #000; /* Borde sólido de 1 píxel de ancho y color negro */
        border-radius: 10px; /* Bordes redondeados de 10 píxeles */
        background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */
    }
    .contenedor-botones{
        text-align: center;
        margin-top: 6px;
    }
    #advertencia{
        margin-bottom: 10px;
        color: rgba(250, 16, 16, 0.976);
        font-size: 15px;
        font-weight: bold;
    }
    .btn-encriptar, .btn-desincriptar{
        width: 46%;
        height: 35px;
        cursor:grab; 
    }
    .seccion1 {
        margin-top: 0px;
        width: 100%; /* Redefine el ancho de la seccion2 */
        height: 30%;
        margin-left: 20px;
    }
    .seccion2 {
        width: 99%; /* Redefine el ancho de la seccion2 */
        height: 65%;
        margin-left: 20px;
        margin-top: 10px;
    }
    .contenedor-resultado{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .contenedor-munieco{
        width: 81%;
        height: 52%;
        padding-top: 24px;
        padding-left: 32px;
        box-sizing: border-box;
    }
    .contenedor-titulo{
        margin-top: 67px;
    }
    #titulo1{
        padding: 9px;
        font-size: 14px;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(16, 21, 21) ;
        margin-top: -5px;
    }
    #parrafo1{
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(16, 21, 21) ;
        margin-left: 25px;
        margin-right: 25px;
    }
    footer {
        border-top: 1px solid;
        margin-left: 18px;
        margin-top: 25px;
    }
    footer .linkedin {
        color: #0e76a8 ;
      }
      footer .fb {
        color: #3b5998  ;
      }
      footer .github {
        color: #000000 ;
      }
      footer .p-footer{
        padding-top: 10px;
      }

}
      footer .p-footer{
        padding-top: 10px;
      }

}
